body {
    background-color: rgb(181, 230, 242);
}

div.calculatorBackground {
    height: 400px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(106, 96, 56);
    border-radius: 10%;
}

#calculatorTitle {
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
}

#num1 {
    height: 35px;
    width: 250px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}

#num2 {
    height: 35px;
    width: 250px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.radioButtons {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.8);
    margin-top: 40px;
  
}

#calcular {
    color: rgb(0, 0, 0);
    background-color: rgb(210, 195, 179);
    width: 200px;
    height: 40px;

}

.calculateContent {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 80px;
    transform: translate(-50%, -50%)
}

.result {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 130px;
    transform: translate(-50%, -50%)
}
